body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#img1{
    top: 0;
    bottom: 0;
    z-index: -1;

    position: fixed;
    height: 100vh;
    width: 100vw;
}

#navbar{
    align-self: center;
    position: fixed;
    width: 75%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    top:0;
    background-color: white;
}

#nav-links{

    display: flex;
    justify-content: space-between;
    list-style: none;
    display: flex;
}



#title{
    margin: 20px;
}

#sec1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    color: white;
    width: 100vw;
    padding: 70px;
    height:100vh;
}

.description>.title{
    color:#00b359;
    font-family: fantasy;
    font-size: 30px;
}

#sec1>button{
    width: 150px;

    color: white;
    padding: 15px;
    border-radius: 3px;

    border: 2px solid white;
    background-color:#ffffff00;

}
#sec1>button:hover{
   
    animation-name:onHover;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    
}

#sec2{
    background-color: #eee;
    width: 100vw;
    display: flex;
    justify-content: center;
    padding: 50px;
    
}

.content{
    display: flex;
    flex-direction:column;
    justify-content:space-between;
    align-items: center;
}
.person{
    display:flex;
    justify-self: flex-end;
}
.status{
    width: 200px;
}

.desc{
    display: flex;
    justify-content: space-between;
}
.fa-heart-o{
    color:red;
}
.posts{
    margin: 30px;
    display: flex;
    flex-direction: row;
}
.content{
    flex-direction: column;
    padding: 50px;
    display: flex;
    width: 200px;
    background-color: #fff;
}
.postimage{
    width: 300px;
    height:350px;
}
.profile{
    margin:30px;
    width:300px;
    height:730px;
    background-color: white;
}

#profilePic{
  
    height:380px;
    width:300px;
}

.contents{
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@keyframes onHover{
    100%{
        background-color: #fff;
        color:cyan;
    }
}