body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#img1{
    top: 0;
    bottom: 0;
    z-index: -1;

    position: fixed;
    height: 100vh;
    width: 100vw;
}

.container{
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: space-around;


}

#shopping{
    align-self: flex-end;
}

#navbar{
    align-self: center;
    position: fixed;
    width: 75%;
    display: flex;
    justify-content: space-between;
    padding-left:20px ;
    padding-right: 20px;
    top:0;
    background-color: white;
    z-index: 100;
}

#nav-links{

    display: flex;
    justify-content: space-between;
    list-style: none;
    display: flex;
}



#title{
    margin: 20px;
}

#sec1{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    color: #fff;
    flex-direction: column;
    align-items: flex-start;

}

#sec1>div{
    margin: 25%;

}

.description>.title{
    color:#217170;
    font-family: fantasy;
    font-size: 30px;
}

#sec1>div>button{
    width: 150px;

    color: white;
    padding: 15px;
    border-radius: 3px;

    border: 2px solid white;
    background-color:#ffffff00;

}
#sec1>div>button:hover{
   
    animation-name:onHover;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    
}

#sec2{
    background-color: #eee;
    width: 100vw;
    display: flex;
    justify-content: center;
    padding: 50px;
    
}

.content{
    display: flex;
    flex-direction:column;
    justify-content:space-between;
    align-items: center;
}
.person{
    display:flex;
    justify-self: flex-end;
}
.status{
    width: 200px;
}

.desc{
    display: flex;
    justify-content: space-between;
}
.fa-heart-o{
    color:red;
}
.posts{
    margin: 30px;
    display: flex;
    flex-direction: row;
}
.content{
    flex-direction: column;
    padding: 50px;
    display: flex;
    width: 200px;
    background-color: #fff;
}
.postimage{
    width: 300px;
    height:350px;
}
.profile{
    margin:30px;
    width:300px;
    height:730px;
    background-color: white;
}

#profilePic{
  
    height:380px;
    width:300px;
}

.contents{
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#links{
    width:300px;
    height:350px;
    
    margin: 30px;
    align-items: center;
    justify-content: center;
    display: flex; 
}

#meal{
    margin: 30px;
    width: 300px;
    height:350px;
    position: relative;
}

#KetoPlans{
    background: #fff;
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    height: 120px;
    padding: 10px;
    border-radius: 5px;
}

#subscribe{
    display: flex;
    color: #fff;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 30px;
    background-color:#217170;
}

#profilelinks{
    width: 100%;
    display: flex;
    justify-content: space-around;
   
}

#subscribeform{
    background: #fff;
    margin: 30px;
    padding: 30px;
    display: flex;
    color: #217170;
    text-align: center;
    justify-content: space-between;
    flex-direction: column;
}

#subscribeform>input[type="submit"]{
    background-color: #217170;
    color: #fff;
    border: 2px solid white;
    padding: 10px;
    border-radius: 5px;
}

#subscribeform>input[type="email"]{
    border: 2px solid #217170;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
}

#sec3{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100vw;
}

.imgcontainer{
    display: flex;
    margin-top:15px;
    justify-content: space-between;
}
.sec3post{
    width:350px;
    height:300px;
    display: fixed; 
    background-size:350px 300px;
    display: flex;
    
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image:url(assets/assets/eiliv-sonas-aceron-789896-unsplash.jpg)
}

.sec3post>div{
    display: flex;
    flex-direction: row;
    overflow: hidden;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}

.se

.imgcontainer>div>div>i{
    color: white;
    
}




@keyframes onHover{
    100%{
        background-color: #fff;
        color:#217170;
    }
}
